<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang='en' ng-app='myApp' class='no-js lt-ie9 lt-ie8 lt-ie7'> <![endif]-->
<!--[if IE 7]>         <html lang='en' ng-app='myApp' class='no-js lt-ie9 lt-ie8'> <![endif]-->
<!--[if IE 8]>         <html lang='en' ng-app='myApp' class='no-js lt-ie9'> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang='en' class='no-js'>
<!--<![endif]-->

<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <title>My Maps</title>
    <link rel='stylesheet' href='./css/bootstrap.min.css' />
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel='stylesheet' href='./css/app.css' />
    <script src='bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js'></script>
</head>

<body ng-app='favoriteLocationsApp' ng-controller='PageController'>

    <nav class='navbar navbar-expand-lg navbar-light bg-light fixed-top'>
        <a class='navbar-brand' href='#'>Navbar</a>
        <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarColor03' aria-controls='navbarColor03'
            aria-expanded='false' aria-label='Toggle navigation'>
            <span class='navbar-toggler-icon'></span>
        </button>

        <div class='collapse navbar-collapse' id='navbarColor03'>
            <ul class='navbar-nav mr-auto'>
                <li class='nav-item active'>
                    <a class='nav-link' href='#'>Home
                        <span class='sr-only'>(current)</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class='container'>
        <h1>Your Google Maps Locations</h1>
        <div class='row'>
            <div class='col-12'>
                <div class='input-group'>
                    <input class='form-control border-secondary py-2' type='search' placeholder='Type a location...' ng-init='Shumen' ng-model='city' ng-enter='updateMap()'>
                    <div class='input-group-append'>
                        <button class='btn btn-outline-secondary' type='button' ng-click='updateMap()'>
                            <i class='fa fa-search'></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class='row'>
            <div class='col-12'>
                <div id='map_div'></div>
            </div>
        </div>
    </div>

    <footer class='text-center'>
        <hr />
        <small>
            Copyright: {{ copyright }}
        </small>
    </footer>

    <!-- <script src='lib/jquery-3.3.1.min.js'></script> -->
    <!-- <script src='lib/bootstrap.min.js' /> -->
    <script src='bower_components/angular/angular.js'></script>
    <script src='bower_components/angular-route/angular-route.js'></script>
    <script src='js/app.js'></script>
    <script src='js/controllers/PageController.js'></script>
    <script src='js/services/loadMapsData.js'></script>
    <script src='js/directives/ngEnter.js'></script>

    <script src='https://maps.googleapis.com/maps/api/js'></script>
    <!-- 
    <script src='https://maps.google.com/maps/api/js?sensor=true'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/gmaps.js/0.4.12/gmaps.min.js'></script> -->

</body>

</html>